spring:
  application:
    name: auth-service
  datasource:
    url: jdbc:mysql://${DB_HOST:mysql}:${DB_PORT:3306}/${DB_NAME:skilltrack_auth}
    username: ${DB_USER:skilltrack_user}
    password: ${DB_PASSWORD:SkillTrackUserPw_2025_AtLeast16Chars}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
  jackson:
    default-property-inclusion: non_null

server:
  port: 8001
  servlet:
    context-path: /api/auth
  error:
    include-message: always
    include-binding-errors: always

jwt:
  secret: ${JWT_SECRET:6u+1mWq2P4Kl2/DtzTgCymTttstCqt9YcBAmXBtWX3I=}
  expiration: ${JWT_EXPIRATION:86400000}  # 24 hours in milliseconds
  refresh-expiration: ${JWT_REFRESH_EXPIRATION:604800000}  # 7 days

logging:
  level:
    root: INFO
    com.skilltrack: DEBUG
    org.springframework.security: DEBUG

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
